services:
  laravel.test:
    build:
      context: .
      dockerfile: ./docker/8.4/Dockerfile
      args:
        WWWGROUP: "${WWWGROUP}"
    image: sail-8.3/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${APP_PORT:-8080}:80"
      - "${VITE_PORT:-5173}:${VITE_PORT:-5173}"
      - "${LARAVEL_WEBSOCKETS_PORT:-8081}:${LARAVEL_WEBSOCKETS_PORT:-8080}"
    environment:
      WWWUSER: "${WWWUSER}"
      LARAVEL_SAIL: 1
      XDEBUG_MODE: "${SAIL_XDEBUG_MODE:-off}"
      XDEBUG_CONFIG: "${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}"
      IGNITION_LOCAL_SITES_PATH: "${PWD}"
      LARAVEL_WEBSOCKETS_PORT: 8080

      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: mysql
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

    volumes:
      - .:/var/www/html

    command: sh -c "php artisan serve --host=0.0.0.0 --port=80"

    networks:
      - sail

    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql/mysql-server:8.0
    restart: always
    ports:
        - "${FORWARD_DB_PORT:-3306}:3306"
    environment:
        MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
        MYSQL_DATABASE: "${DB_DATABASE}"
        MYSQL_USER: "${DB_USERNAME}"
        MYSQL_PASSWORD: "${DB_PASSWORD}"
    volumes:
        - sail-mysql:/var/lib/mysql
    networks:
        - sail
        
    healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
        retries: 5
        timeout: 5s
  queue-worker:
    image: sail-8.3/app
    restart: always
    volumes:
      - ".:/var/www/html"
    depends_on:
      - mysql
      - redis
    command: >
      sh -c '
        echo "Starting Laravel Queue Worker...";
        php artisan queue:work redis --queue=default --sleep=3 --tries=1;
      '
    networks:
      - sail
  scheduler:
    image: sail-8.3/app
    restart: always
    volumes:
      - ".:/var/www/html"
    depends_on:
      - quickfund_database
      - redis
    command: >
      sh -c "
        while true; do
          php artisan schedule:run --verbose --no-interaction;
          sleep 60;
        done
      "
    networks:
      - sail

  redis:
    image: "redis:alpine"
    restart: always
    volumes:
      - ".:/var/www/html"
    networks:
      - sail
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    command: redis-server --appendonly yes --replica-read-only no

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    depends_on:
      - mysql
    networks:
      - sail

networks:
  sail:
    driver: bridge

volumes:
  sail-mysql:
    driver: local
